# .gitattributes
.gitattributes text eol=lf
* text=auto

# For files that should always use LF, like shell scripts and Python
*.sh text eol=lf
*.py text eol=lf

# For text files (e.g., .txt) that should use LF
*.txt text eol=lf
